<?xml version="1.0" encoding="UTF-8"?>

<plugin>
	<class>com.wangzhe.plugins.restapi.RESTServicePlugin</class>
	<name>RESTApi Plugin</name>
	<description>handle restful http request</description>
    <author>王宗文</author>
	<version>1.0.0</version>
	<date>8/5/2016</date>
	<minServerVersion>3.9.0</minServerVersion>
</plugin>
