<?xml version="1.0" encoding="UTF-8"?>

<plugin>
	<class>com.wangzhe.plugin.user.UserInfoPlugin</class>
	<name>UserInfo Plugin</name>
	<description>query/update user information</description>
    <author>王宗文</author>
	<version>1.0.0</version>
	<date>6/29/2015</date>
	<minServerVersion>3.9.0</minServerVersion>
</plugin>
