<?xml version="1.0" encoding="UTF-8"?>

<plugin>
	<class>com.wangzhe.plugins.filetransfer.FileTransferPlugin</class>
	<name>file transfer plugin</name>
	<description>custom file transfer</description>
    <author>王宗文</author>
	<version>1.0.0</version>
	<date>8/18/2016</date>
	<minServerVersion>3.9.0</minServerVersion>
</plugin>
